*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    display: flex;
    flex-direction: row;
     height: 60px;
     background-color: #0F1111;
     color: white;
     align-items: center;
     justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width:100px
}
.logo{
    background-image: url("../textures/amazon_logo.png");
    background-size: cover;
    height:100%;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
    transition: all 0.2s ease-in;
}
.border:hover{
    border: 1.5px solid white;
}
/* box 2 */
.address-icon{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;  /* cross align */
}
.address-first{
 color:#CCCCCC;
 font-size: .85rem;
 margin-left: 20px;
}
.address-second{
    color:#FFFFFF;
    font-size: 1rem;
    margin-left: 10px;
}
/* Box3 */
.nav-search{
    display:flex;  
    justify-content: space-evenly  ;
    align-content: center;
    background-color: red;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}
.nav-search:hover{
    border: 3px solid  #febd68;
    border-radius: 4px;
}
.search-select{
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
    background-color: #F3F3F3; 
    width: 50px;
    text-align: center;
    border: none;
}
.search-input{
  width: 100%;
  font-size: 1rem;
  border:none
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0F1111;
}
/* Box 2 */
span{
  font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
 font-weight: 700px;       /* Darker tone    */
}   

/* box 6 nav cart me jitne <i> h unko target */
.nav-cart i{
    font-size: 30px;
}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700px;
}

/* Panel */
.panel{
    height: 40px;
    display: flex;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops{
    display:flex;
    width: 80%;
    font-size: 0.85rem;
    align-items: center;
}
.panel-ops a{
    display: flex;
   margin-left: 10px;
   height:40px;
   align-items: center;
   justify-content: center;
}
.panel-deal{
    font-size: .9rem;
    font-weight: 700;
}
/* Hero Section */
.hero-section{
    background-image: url("../textures/hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.hero-message{
    display: flex;
    background-color: white;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    width: 95%;
    margin-bottom: 20px;
}
.hero-message a{
    color: #007185;
}
/* shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
}
.box-content{
    margin-right: 1rem;
    margin-left:1rem;
}
.box-content p{
    color: #007185;
}
.box-content p:hover{
    text-decoration: underline;
}
.box-image{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box1 .box-image{
    background-image: url(../textures/box1_image.jpg);   
}
.box2 .box-image{
    background-image: url(../textures/box2_image.jpg);   
}
.box3 .box-image{
    background-image: url(../textures/box3_image.jpg);   
}

.box4 .box-image{
    background-image: url(../textures/box4_image.jpg);   
}
.box5 .box-image{
    background-image: url(../textures/box5_image.jpg);   
}
.box6 .box-image{
    background-image: url(../textures/box6_image.jpg);   
}
.box7 .box-image{
    background-image: url(../textures/box7_image.jpg);   
}

.box8 .box-image{
    background-image: url(../textures/box8_image.jpg);   
}


